<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="procentaje1" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="procentaje1 + '%'  "></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" [attr.ariaValuenow]="procentaje2" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="procentaje2 + '%'  "></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="procentaje1= $event " nombre="Progres Azul" [procentaje]="procentaje1"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="procentaje2= $event " nombre="Progres Rojo" [procentaje]="procentaje2"></app-incrementador>
            </div>
        </div>
    </div>
</div>