<h3>{{ leyenda }} {{procentaje}}</h3>
<div class="input-group">
    <span class="btn btn-primary" (click)="cambiar(-5)" type="button">
    <i class="mdi mdi-minus"></i>

  </span>
    <input #txtProgres type="number" class="form-control" min="1" max="100" [(ngModel)]="procentaje" (ngModelChange)="onChange($event)">
    <span class="btn btn-primary" (click)="cambiar(+5)" type="button">
    <i class="mdi mdi-plus"></i>
  </span>
</div>